/* Empty. Add your own CSS if you like */
.poster {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.validated-form input.ng-invalid.ng-dirty {
	color: #FF0000;
}

.form-error-message {
	text-align: center;
	color: #FF0000;
}

.poster img {
	width: 100%;
	height: 100%;
}

.poster h4 {
	position: relative;
	top: -50px;
	text-align: center;
	color: white;
	z-index: 2;
}

.poster-gradient {
	position: relative;
	top: -140px;
	height: 100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(40, 40, 40, 100));
}

.poster-dim {
    -webkit-filter: brightness(50%);
}

#poster-overlay {
	position: absolute;
	top: 0px;
	background-color: black;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#rating-widget {
	position: absolute;
	top: 330px;
	left: 0;
}

.action-item {
    position: absolute;
    width: 48px;
	height: 48px;
	z-index: 99;
}

#rating-loading-container {
	margin-top: 40px;
}

#form-error-message {
	color: #FF0000;
	text-align: center;
}

#no-content {
	margin: 20px;
}

#position-bar {
	position: absolute;
	background-color: #00bf56;
	width: 100%;
	height: 6px;
	z-index: 60;
}