<div id="rating-widget">
	
	<div id="actions">
        <img src="img/actions/ignore.png" id="ignore-button" ng-click="setDisposition('ignore')" class="action-item" />
		<img src="img/actions/dislike.png" id="dislike-button" ng-click="setDisposition('dislike')" class="action-item">
        <img src="img/actions/like.png" id="like-button" ng-click="setDisposition('like')" class="action-item">
        <img src="img/actions/save.png" id="save-button" ng-click="setDisposition('watchlist')" class="action-item">
        <img src="img/actions/revert.png" id="revert-button" ng-click="setDisposition('')" class="action-item" />
	</div>
</div>