<ion-view title="Sign into Fayve">
	<ion-content class="has-header" ng-controller="LoginController" ng-show="showLoginScreen">
		<form name="loginForm" novalidate class="validated-form">
			<label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
				<input name="uEmail" type="email" placeholder="Email" ng-model="email" required >
			</label>
			<label name="uPassword" class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Password" ng-model="password" required >
			</label>
			<div style="padding: 10px">
				<button ng-disabled="loginForm.$invalid" class="button button-full button-positive" ng-click="onLogin()">Sign in</button>
			</div>
			<div id="login-error-message" ng-show="loginErrorMessage">{{loginErrorMessage}}</div>
		</form>
	</ion-content>
</ion-view>