<ion-view title="Picks">
 	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content class="has-header" ng-controller="EntityController" has-bouncing="true">
		<div ng-show="hasContent">
			<div id="position-bar"></div>
			<!-- Poster Slide Box -->
			<ion-slide-box show-pager="false" on-slide-changed="handleSlideChanged($index)">
				<ion-slide ng-repeat="entity in picks.data">
					<fv-poster entity="entity"></fv-poster>
			    </ion-slide>
		    </ion-slide-box>
		    
		    <!-- Trailer Panel -->
		    <fv-trailer-panel ng-show="supportsTrailerPanel()" entity="trailerImage"></fv-trailer-panel>

		    <!-- Synopsis Panel -->
		    <fv-synopsis-panel ng-show="supportsSynopsisPanel()" synopsis="synopsisDescription"  rt="rtRating" mpaa="mpaaRating"></fv-synopsis-panel>

		    <!-- Services Panel -->
		    <fv-services-panel ng-show="supportsServicesPanel()" images="serviceImages"></fv-services-panel>

			<!-- Cast and Crew Panel -->
			<fv-cast-panel ng-show="supportsCastPanel()" cast-members="castMembers" crew-members="crewMembers"></fv-cast-panel>

		    <!-- Info Panel -->
		    <fv-info-panel ng-show="supportsInfoPanel()" infos="moreInfo"></fv-info-panel>
		    <!--div class="card detail-panel" id="info-panel">
		    	<h3 class="item item-divider">Additional Info</h3>
		    	<table class="item">
		    		<tr ng-repeat="detail in entity.details">
		    			<td class="right">{{detail.key}}</td>
		    			<td class="left">{{detail.value}}</td>
		    		</tr>
		    	</table>
		    </div-->

		    <div id="poster-overlay"></div>
		    <fv-rating-widget></fv-rating-widget>
		</div>
		<div ng-show="hasContent" id="no-content">
			{{noContentMessage}}
		</div>
	</ion-content>
</ion-view>